; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "/var/log/riemann/riemann.log"})

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

(def to-graphite (graphite {:host "127.0.0.1"}))

; Scan indexes for expired events every N seconds.
(periodically-expire 20)

(let [index (default :ttl 60 (index))]
  (streams
    (where (tagged "httpclient")
      to-graphite)))
